* {
  padding: 0;
  margin: 0;
}

html,
body,
.step_1,
.step_2,
.step_3,
.step_4 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: url(../image/bg.png) no-repeat center center;
  background-size: 100% 100%;
}

.menu_box {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.menu_box div {
  position: fixed;
  top: 0;
  right: 80px;
  background: url(../image/mask.png) no-repeat center center;
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.menu_box .logo {
  display: block;
  margin: 100px auto 0;
}
.menu_box .list {
  margin: 60px 0 0 60px;
}
.message_box {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.message_box div {
  position: fixed;
  top: 0;
  background: url(../image/mask.png) no-repeat center center;
  background-size: 100% 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 80%;
}
.message_box img {
  margin: 10px 0 0 10px;
}

.step_1,
.step_2,
.step_3,
.step_4 {
  box-sizing: border-box;
  display: none;
}

.step_1 .logo {
  display: block;
  width: 156px;
  height: 111px;
  margin: 140px auto 0;
}
.step_1 input {
  display: block;
  width: 320px;
  height: 40px;
  margin: 60px auto 0;

  color: rgba(255, 255, 255, 1);
  text-align: center;

  background: none;
  border: 1px solid rgba(255, 255, 255, .4);
  border-width: 0 0 1px;
  outline: none;
}
.step_1 .btn {
  width: 320px;
  height: 40px;
  margin: 20px auto;

  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
  text-align: center;
  background: linear-gradient(rgb(170 ,78, 253), rgb(253, 104, 108));
  border-radius: 20px;
}

.step_2 {
  position: relative;
  background: url(../image/sound.png) no-repeat center 80px;
  background-size: 100% auto;
}
.step_2 .menu {
  position: absolute;
  top: 10px;
  left: 10px;
}
.step_2 .message {
  position: absolute;
  top: 10px;
  right: 10px;
}
.step_2 .start {
  display: block;
  width: 320px;
  height: 320px;
  margin: 50px auto 0;
}
.step_2 .about {
  display: block;
  width: 231px;
  height: 90px;
  margin: 50px auto 0;
}

.step_3 .loading {
  width: 100%;
  height: 303px;
  margin: 100px auto 0;
  position: relative;
  background: url(../image/sound.png) no-repeat center 10px;
  background-size: 100% auto;
}
.step_3 .round {
  width: 300px;
  height: 283px;
  position: absolute;
  top: -12px;
  left: 50%;
  margin: 0 0 0 -150px;
  animation: myRotate 3s linear infinite;
}
.step_3 .round img {
  height: 100%;
  float: right;
}
@keyframes myRotate{
  0%{ -webkit-transform: rotate(0deg);}
  50%{ -webkit-transform: rotate(180deg);}
  100%{ -webkit-transform: rotate(360deg);}
}
.step_3 .hello {
  display: block;
  width: 270px;
  height: 270px;
  margin: 20px auto 0;
}
.step_3 p {
  margin: 131px 0 0;

  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 44px;
}

.step_4 {
  position: relative;
}
.step_4 .quit {
  position: absolute;
  top: 16px;
  right: 20px;
  color: rgba(255, 255, 255, 1);
}
.step_4 .box {
  width: 300px;
  height: 100px;
  margin: 88px auto 0;

  border: 1px solid rgba(255, 255, 255, .12);
  background: rgba(30, 35, 43, .12);
  border-radius: 4px;
  box-shadow: 0px 6px 12px 10px rgba(0, 0, 0, .06);
}
.step_4 .box span {
  display: block;
  margin: 23px 0 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 22px;
  text-align: center;
}
.step_4 .box p {
  display: block;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  line-height: 44px;
  text-align: center;
}
.step_4 .avatar {
  margin: 30px 20px 0;
}
.step_4 .avatar .women {
  position: relative;
  height: 100px;
  background: url(../image/sound_wave.png) no-repeat center left;
}
.step_4 img {
  border: 3px solid rgb(173, 142, 237);
  border-radius: 50%;
  height: 100%;
}
.step_4 .women div {
  position: absolute;
  width: 100px;
  text-align: center;
  bottom: -35px;
  right: 0;
  float: right;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.step_4 .women img {
  float: right;
}
.step_4 .avatar .man {
  position: relative;
  height: 100px;
  background: url(../image/sound_wave.png) no-repeat center right;
}
.step_4 .man div {
  position: absolute;
  width: 100px;
  text-align: center;
  top: -35px;
  left: 0;
  float: right;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.step_4 .man img {
  float: left;
}
.step_4 .time {
  margin: 44px auto 0;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.step_4 .buttom {
  margin: 70px 20px 0;
}
.step_4 .buttom .pay {
  float: left;
  width: 190px;
  height: 40px;

  color: rgba(255, 255, 255, 1);
  line-height: 40px;
  text-align: center;
  background: linear-gradient(rgb(170 ,78, 253), rgb(253, 104, 108));
  border-radius: 20px;
}
.step_4 .buttom .add {
  float: right;
  width: 120px;
  height: 34px;
  color: rgba(255, 255, 255, 1);
  line-height: 34px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid rgba(225, 95, 158, 1);
}
